[Desktop Entry]
Name=Toki Pona Translator
Terminal=true
Type=Application
Comment=Tries to translate sentences from Toki Pona to English.
Exec=/home/USER/toki-pona-translator/translator.py
Icon=/home/USER/toki-pona-translator/toki-pona.png
Path=/home/USER/toki-pona-translator/
